h1 {
  font-size: 63px;
  color: #fff;
}

h2 {
  font-size: 40px;
  color: #303030;
  font-weight: 600;
}

.carousel-caption h5 {
  font-size: 60px;
  color: #ffc107;
  text-shadow: 2px 2px 2px #0000;
}

.container-sm {
  max-width: 720px;
}